<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
<!--    <property name="CONSOLE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %logger{5} - %msg %n" />-->
<!--    <property name="logPath"		value="C://logs" />-->
<!--    <property name="fileName"		value="test-log" />-->
<!--    <property name="maxHistory"		value="7" />-->
<!--    <property name="maxFileSize"	value="5KB" />-->
<!--    <property name="totalSizeCap"	value="1GB" />-->
    <property name="consolePattern"	value="%highlight(%-5level) %d{yyyy-MM-dd HH:mm:ss}%magenta([%thread]) %logger[%method:%line] - %yellow(%msg) %n"/>
<!--    <property name="consolePattern"	value="%-5level %d{yyyy-MM-dd HH:mm:ss}[%thread] %logger[%method:%line] - %msg%n"/>-->
<!--    <property name="filePattern"    value="%-4relative [%thread] %-5level %logger{35} - %msg%n"/>-->
<!--    <property name="slackPattern"   value="%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n"/>-->
<!--    <property name="slackHookUri"	value="%%%%%%%%%YOUR SLACK WEBHOOK URI%%%%%%%%%"/>-->

    <!-- Console Log Appender Module -->
    <springProfile name="console-logging">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${consolePattern}</pattern>
            </encoder>
        </appender>
    </springProfile>
    <!-- Console Log Appender Module -->

    <!-- File Appender Module -->
<!--
    <springProfile name="file-logging">
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${logPath}//${fileName}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${logPath}//LOG_%d{yyyy-MM-dd}_${fileName}.log.%i.zip</fileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
                <maxFileSize>${maxFileSize}</maxFileSize>
                <totalSizeCap>${totalSizeCap}</totalSizeCap>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${filePattern}</pattern>
            </encoder>
        </appender>
    </springProfile>
-->
    <!-- File Appender Module -->

    <!-- Message Appender Module -->
<!--
    <springProfile name="message-logging">
        <appender name="slack" class="com.github.maricn.logback.SlackAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${slackPattern}</pattern>
            </layout>
            <webhookUri>${slackHookUri}</webhookUri>
            <username>bbbic</username>
            <iconEmoji>:stuck_out_tongue_winking_eye:</iconEmoji>
            <colorCoding>true</colorCoding>
        </appender>
    </springProfile>
-->
    <!-- Message Appender Module -->

    <!-- Log Level Module -->
    <springProfile name="high-level-logging">
        <logger name="root" level="error" additive="false" />
        <logger name="org.springframework" level="error" additive="false" />
        <logger name="pe.swkim" level="warn" additive="false" />
    </springProfile>

    <springProfile name="mid-level-logging">
        <logger name="root" level="info" additive="false" />
        <logger name="org.springframework" level="info" additive="false" />
        <logger name="pe.swkim" level="debug" additive="false" />
    </springProfile>

    <springProfile name="low-level-logging">
        <logger name="root" level="info" additive="false" />
        <logger name="org.springframework" level="info" additive="false" />
        <logger name="pe.swkim" level="trace" additive="false" />
    </springProfile>
    <!-- Log Level Module -->

    <root>
        <springProfile name="console-logging">
            <appender-ref ref="console" />
        </springProfile>

<!--
        <springProfile name="file-logging">
            <appender-ref ref="file" />
        </springProfile>
-->

<!--
        <springProfile name="message-logging">
            <appender-ref ref="slack" />
        </springProfile>
-->
    </root>
</configuration>
